@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;

    /*===== Colors =====*/
    --first-color: #26A69A;
    --first-color-lighter: #ECF3F2;
    --title-color: #11443F;
    --text-color: #5B7B78;
    --body-color:#F5FFFE;
    --white-color:#ffffff;
    --first-color-dark: #58c73d;
    --first-color-darken: #13995a;

    /*===== Font and typography =====*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 3rem;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;

    /*===== Font weight =====*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*===== z index =====*/
    --z-tooltio: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
    :root{
        --biggest-font-size: 5.5rem;
        --big-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/*===== Base =====*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: #ffffff;
}

h1,h2,ul,p{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

.bd-container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
}

.nav{
    max-width: 968px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
}

@media screen and (max-width: 768px) {
    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 1.5rem;
        background-color:rgba(146, 146, 146, 0.212);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 1rem;
        transition: .4s;
    }
}

.nav_logo,
.nav_barra
{
    color: #094b65;
    font-weight: 700;
    font-size: 1rem;
}

.nav_link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    border-radius: 10px;
}

.nav_item{
    margin-bottom: 1.5rem;
}

.nav_barra{
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_link:hover{
    background: #094b65;
    color: #fff;
    padding: 10px; 
}

/* Show menu */
.show-menu{
    top: calc(var(--header-height)+4rem);
}


.sec_home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,#094b65,transparent);
    z-index: 10;
}

.home{
    position: absolute;
    min-height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion_img{
    justify-self: center;
    display: flex;
}

.seccion_img img{
    position: absolute;
    height:100vh;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.seccion_text{
    position: absolute;
}

.seccion_text .text{
    color: #094b65;
    font-size: 10vw;    
    text-align: center;
    line-height: 2.3rem;
    transform: translateY(-100px);
}

.seccion_text .text span{
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-weight: 450;
}

.seccion_btn .btn{
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: #094b65;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(50px);
}

.sec_servicios{
    background: #094b65;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.servicios{
    display: flex;
    flex-direction: column;
}

.servicio{
    display: grid;
    grid-template-rows: 2fr 1fr;
    max-height: 100%;
    max-width: 100%;
    padding: 1rem;
    text-align: center;
}

.icono{
    background-color: #ffffff;
    border-radius: 50%;
    margin: auto;
    padding: 3rem;
}

.info{
    gap: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.sec_formulario{
    background: #094b65;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}


.form{
    background-color: #53a9db4f;
    border-radius: 1rem;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
}

.boton{
    background-color: #7663cc93;
    border: none;
    border-radius: .5rem;
    color: #ffffff; 
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1rem 3rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}

.sec_comentarios{
    background: #094b65;
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: 50vh;
}



/* ===== MEDIA QUERIES =====*/
@media screen and (min-width: 769px){
    body{
      margin: 0;
    }
  
    .nav_lista{
      display: flex;
    }

    .nav_barra{
        display: none;
    }
  
    .nav_item{
      margin-left: 3rem;
      margin-bottom: 0;
    }
  
    .home__container{
      height: 100vh;
      grid-template-columns: repeat(2, max-content);
      grid-template-rows:  1fr;
      row-gap: 0;
      align-items: center;
      justify-content: center;
    }
  
    .seccion_img img{
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .servicios{
        display: flex;
        flex-direction: row;
    }

    .seccion_text .text span{
        font-size: 2rem;
        letter-spacing: 6px;
        font-weight: 450;
    }

    .seccion_text .text{
        font-size: 10vw;    
        line-height: 4.5rem;
        transform: translateY(-100px);
    }
    
}



